@model IEnumerable<Wedding_Planner.Models.AmentiesMaster>

@{
    ViewBag.Title = "ManageRates";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}





<script>
    $(document).ready(function () {
        var x = $("#userDetail").text().trim();
        if (x.length > 0)
            $("#userDetail").fadeIn(100).delay(2500).fadeOut(1500);
    });
</script>
<style>
    table tr:hover {
        background-color: lightgray;
    }
</style>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12">
            <h1 align="center" style="color:saddlebrown;font-weight:bold;font-family:'Script MT' "> Manage Rates</h1>
            <hr style="border-top: 1px solid saddlebrown " />
            <p id="userDetail" align="center" class="h5 text-center " style="min-height: 20px; width: 100%; padding: 2px; padding-top: 10px; font-size: 20px; font-weight: bold; color: #ae0707;display:none;">@TempData["Message"]</p>

            <table border="1" width="100%">
                <tr style="background-color:saddlebrown; color:white;text-align:center; height:45px;" align="center">
                    <th>Event Name</th>
                    <th>Lawn</th>
                    <th>Hall</th>
                    <th>Music</th>
                    <th>Tent</th>
                    <th>Catering</th>
                    <th>Action</th>
                </tr>
                @{
                    int sno = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td><b>@item.EventName</b></td>
                            <td>₹ @item.Laun</td>
                            <td>₹ @item.Hall</td>
                            <td>₹ @item.Music</td>
                            <td>₹ @item.Tent</td>
                            <td>₹ @item.Catering</td>
                            <td>
                                <a href="@Url.Action("EditRates", "Admin", new { eventName = item.EventName })"
                                   class="btn btn-info btn-xs btn-fill">Edit Rates</a>
                            </td>
                        </tr>


                        sno++;
                    }
                }
            </table>
            <br />

        </div>

    </div>
</div>
